

	<!--<head>
		<title>Coming Soon</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
		<style type="text/css">
			body {
				background: url("images/Setzling-spriesst.jpg") center fixed no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				color: white;
			}

			#soon {
				float: right;
				padding-top: 40vh;
			}

			@media (max-height: 800px) and (max-width: 1000px) {
				#soon {
				/*float: right;*/
				padding-top: 60px;
			}
			}
		</style>
	<!--</head>
	<body>-->
		<div class="container">
			<div id="soon">
				<h2>We are busy planting the seeds for this feature!</h2><h3> Soon it will be fully grown and you can use and harvest this feature</h3>
			</div>
		</div>
	<!--</body>-->
