<div class="container">
    <div class="row jumbo">
		<div class="col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<fieldset>
						<legend>Edit Crop Type</legend>
						<form name="frmEditCropType" ng-controller="selectCropType">
							<div>
								<label for="cropType">Crop Type</label>
								<input class="form-control" type="text" name="cropType" id="cropType" ng-model="selectCultivationFrequency.Name" placeholder="Mango" required>
								<span ng-show="frmEditCropType.cropType.$dirty && frmEditCropType.cropType.$error.required">Required!</span>
								<span ng-show="frmEditCropType.cropType.$dirty && frmEditCropType.cropType.$error.text">Not a valid name!</span>
							</div>
							<br/>										
							<button class="btn" ng-disabled="frmEditCropType.$invalid">Update Crop Type</button>

                            <!-- Disable signup button until the form has no errors -->
                            <button type="submit" class="btn" id="btnCreateFarm" ng-disabled="frmUpdateFarm.$invalid">
                                <span ng-show="!createFarmFrm.loading">Update Farm</span>
                                <span class="overlord-loading-spinner fa fa-spinner" ng-show="createProfileFrm.loading"></span>
                                <span ng-show="createProfileFrm.loading">Updating Your Farm...</span>
                            </button>

                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
						</form>	
					</fieldset>
				</div>						
			</div>
		</div>
	</div>
</div>