<div class="container">
	<div class="row jumbo">
		<div class="col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<fieldset>
						<legend>Crop Types</legend>
						<div ng-app="myApp" ng-controller="selectCropType" id="tableContainer">
							<table class="table table-bordered">
								<th>#</th>
								<th>Crop type</th>							
								<th>Edit</th>
								<% _.each(type, function(crop, index) { %>
									<tr>
										<td><%= index + 1 %>.</td>
										<td><%= crop.name %></td>
										<td><a class="info" href="/croptype/edit/<%= crop.id %>"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
									</tr>
                                <% }) %>
								<!--<tr ng-repeat="x in cropTypes">
									<td>{{ $index + 1 }}.</td>
									<td>{{ x.Type }}</td>									
									<td><a class="info" href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
								</tr>-->
							</table>
						</div>
						<br/>
						<a href="/cropType/new" class="btn">Add Crop Type</a>											
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>