<div class="container">
	<div class="row jumbo">
		<div class="col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<fieldset>
						<legend>Crop Types</legend>
						<div ng-app="myApp" ng-controller="selectCropType" id="tableContainer">
							<table class="table table-bordered">
								<th>#</th>
								<th>Crop type</th>
								<!-- <th>Soil Type</th> -->
								<th>Edit</th>
								<tr ng-repeat="x in cropType">
									<td>{{ $index + 1 }}.</td>
									<td>{{ x.Type }}</td>
									<!-- <td>{{ x.Description }}</td> -->
									<td><a class="info" href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
								</tr>
							</table>
						</div>
						<br/>						
						<button class="btn">Create New Crop Type</button>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>