<head>
	<title>View Orchard Block</title>
	<script type="text/javascript">
	    window.SAILS_LOCALS = {
	      _csrf: '<%= _csrf %>'
	    };
    </script>
</head>
<div class="container" ng-app onload="showViewOrchardBlock()">
	<div class="row jumbo">
		<div class="col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<fieldset>
					<legend>Orchard Block Details</legend>
					<form name="frmViewOrchardBlock">
						<div ng-controller="selectOrchardBlock">
							<label for="selectOrchardBlock">Orchard Block</label>	
							<select name="selectOrchardBlock" class="form-control" ng-model="selectOrchard">
							<% _.each(type, function(orchardBlock, index) { %>
								<option value="<%= orchardBlock.id %>"><%= orchardBlock.name %></option>
							<% }) %>
							</select>
							<br/>
							<a class="btn" href="/editOrchardBlock">Edit</a>							
						</div>
						<br/>
						<div>
							<label>Name</label>
							<label class="info"><!--%= orchardBlock.name %--></label>
						</div>
						<br/>
						<div>
							<label>Hectares</label>
							<label class="info"><!--%= orchard.Hectares %--></label>
						</div>
						<br/>
						<div>
							<label>Irrigation Type</label>
							<label class="info"><!--%= orchard.irrigationType %--></label>
						</div>
						<br/>
						<div>
							<label>Crop Type</label>
							<label class="info"><!--%= orchard.cropType %--></label>
						</div>
						<br/>
						<div>
							<label>Cultivation Frequency</label>
							<label class="info"><!--%= orchard.cultivationFrequency %--></label>
						</div>
						<br/>
						<div>
							<label>Yield Measurement Type</label>
							<label class="info"><!--%= orchard.yieldMeasurementType %--></label>
						</div>
						<br/>
						<div>
							<label>Date Planted</label>
							<label class="info"><!--%= orchard.datePlanted %--></label>
						</div>
						<br/>
						<div>
							<label>GPS Co-ordinates</label>
							<label class="info"><!--%= orchard.coOrdinates %--></label>
						</div>
						<br/>
						<a class="btn" ng-disabled="frmViewOrchardBlock.$invalid" href="/createOrchardBlock">Create Orchard Block</a>
					</form>
				</fieldset>
			</div>
		</div>
	</div>
</div>