<head>
	<title>View Orchard Block</title>
	<script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>'
    };
    </script>
</head>
<!--<body ng-app onload="viewOrchardBlock()">
	<div class="row jumbo">
		<div class="col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<fieldset>
						<legend>Foremen Shift</legend>
						<div ng-controller="selectForeman" id="tableContainer">
							<table class="table table-bordered">
							<th>#</th>
							<th>Name</th>
							<th>StartTime</th>
							<th>EndTime</th>
							<th>Edit</th>
							  <tr ng-repeat="x in foremen">
							    <td>{{ $index + 1 }}.</td>
							    <td>{{ x }}</td>
							    <td>{{ x }}</td>
							    <td>{{ x }}</td>
							    <td><a class="info" href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
							  </tr>
							</table>
						</div>
						<br/>
					</fieldset><br/>
					<button class="btn">Create New Cultivation Frequency</button>
				</div>
			</div>
		</div>
	</div>
</body>-->