<legend>Edit Crop Type</legend>
<form name="frmEditCropType" ng-controller="selectCropType">
	<div>
		<label for="orchardBlockName">Name</label>
		<input class="form-control" type="text" name="orchardBlockName" ng-model="user.orchardBlockName" placeholder="Field 1" required>
		<span ng-show="frmEditOrchardBlock.orchardBlockName.$dirty && frmEditOrchardBlock.orchardBlockName.$error.required">Required!</span>
		<span ng-show="frmEditOrchardBlock.orchardBlockName.$dirty && frmEditOrchardBlock.orchardBlockName.$error.text">Not a valid name!</span>
	</div>
	<br/>
	<div>
		<label for="orchardBlockCropYield">Crop Yield</label>
		<input class="form-control" type="text" name="orchardBlockCropYield" ng-model="user.orchardBlockCropYield" placeholder="20" required>
		<span ng-show="frmEditOrchardBlock.orchardBlockCropYield.$dirty && frmEditOrchardBlock.orchardBlockCropYield.$error.required">Required!</span>
		<span ng-show="frmEditOrchardBlock.orchardBlockCropYield.$dirty && frmEditOrchardBlock.orchardBlockCropYield.$error.text">Not a valid name!</span>
	</div>
	<br/>
	<div>
		<label for="orchardBlockHectares">Hectares</label>
		<input class="form-control" type="text" name="orchardBlockHecrares" ng-model="user.orchardBlockHectares" placeholder="21.5" required>
		<span ng-show="frmEditOrchardBlock.orchardBlockHectares.$dirty && frmEditOrchardBlock.orchardBlockHectares.$error.required">Required!</span>
		<span ng-show="frmEditOrchardBlock.orchardBlockHectares.$dirty && frmEditOrchardBlock.orchardBlockHectares.$error.text">Not a valid name!</span>
	</div>
	<br/>
	<div>
		<label for="orchardBlockDimentions">Block Dimentions</label>
		<input class="form-control" type="text" name="orchardBlockDimentions" ng-model="user.orchardBlockDimentions" placeholder="12m X 16m" required>
		<span ng-show="frmEditOrchardBlock.orchardBlockDimentions.$dirty && frmEditOrchardBlock.orchardBlockDimentions.$error.required">Required!</span>
		<span ng-show="frmEditOrchardBlock.orchardBlockDimentions.$dirty && frmEditOrchardBlock.orchardBlockDimentions.$error.text">Not a valid name!</span>
	</div>
	<br/>
	<div>
		<label for="orchardBlockCropType">Crop Type</label>
		<input class="form-control" type="text" name="orchardBlockCropType" ng-model="user.orchardBlockCropType" placeholder="Mango" required>
		<span ng-show="frmEditOrchardBlock.orchardBlockCropType.$dirty && frmEditOrchardBlock.orchardBlockCropType.$error.required">Required!</span>
		<span ng-show="frmEditOrchardBlock.orchardBlockCropType.$dirty && frmEditOrchardBlock.orchardBlockCropType.$error.text">Not a valid name!</span>
	</div>
	<br/>
	<div>
		<label for="orchardBlockIrrigationType">Irrigation Type</label>
		<input class="form-control" type="text" name="orchardBlockIrrigationType" ng-model="user.orchardBlockIrrigationType" placeholder="Sprinkler" required>
		<span ng-show="frmEditOrchardBlock.orchardBlockIrrigationType.$dirty && frmEditOrchardBlock.orchardBlockIrrigationType.$error.required">Required!</span>
		<span ng-show="frmEditOrchardBlock.orchardBlockIrrigationType.$dirty && frmEditOrchardBlock.orchardBlockIrrigationType.$error.text">Not a valid name!</span>
	</div>
	<br/>
	<div>
		<label for="orchardBlockDate">Date Planted</label>
		<input type="date" class="form-control" name="orchardBlockDate" ng-model="user.orchardBlockDate" required>
		<span ng-show="frmEditOrchardBlock.orchardBlockDate.$dirty && frmEditOrchardBlock.orchardBlockDate.$error.required">Required!</span>
		<span ng-show="frmEditOrchardBlock.orchardBlockDate.$dirty && frmEditOrchardBlock.orchardBlockDate.$error.text">Not a valid name!</span>
	</div>
	<br/>
	<div>
		<label for="orchardBlockCultivation">Cultivation Frequency</label>
		<input class="form-control" type="text" name="orchardBlockCultivation" ng-model="user.orchardBlockCultivation" placeholder="Monthly" required>
		<span ng-show="frmEditOrchardBlock.orchardBlockCultivation.$dirty && frmEditOrchardBlock.orchardBlockCultivation.$error.required">Required!</span>
		<span ng-show="frmEditOrchardBlock.orchardBlockCultivation.$dirty && frmEditOrchardBlock.orchardBlockCultivation.$error.text">Not a valid name!</span>
	</div>
	<br/>
	<div>
		<label for="orchardBlockYield">Yield Measurement Type</label>
		<input class="form-control" type="text" name="orchardBlockYield" ng-model="user.orchardBlockYield" placeholder="Basket" required>
		<span ng-show="frmEditOrchardBlock.orchardBlockYield.$dirty && frmEditOrchardBlock.orchardBlockYield.$error.required">Required!</span>
		<span ng-show="frmEditOrchardBlock.orchardBlockYield.$dirty && frmEditOrchardBlock.orchardBlockYield.$error.text">Not a valid name!</span>
	</div>
	<br/>
	<button class="btn" ng-disabled="frmEditOrchardBlock.$invalid">Update Orchard Block</button>
</form>