<!DOCTYPE html>
<html ng-app="Harvest">
	<head>
		<title>Harvest Home Page</title>
		<meta charset="UTF-8">		
		<script type="text/javascript" src="./JS/maps.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="./bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="./CSS/style.css">	
		<script type="text/javascript" src="./JS/angular.min.js"></script>
		<script type="text/javascript" src="./bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="./JS/script.js"></script>
	</head>
	<body>
		<div class="navbar-wrapper">
	  		<div class="container">
			    <div class="navbar navbar-inverse navbar-fixed-top">
			        <div class="navbar-header">
					    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					      <span class="icon-bar"></span>
					      <span class="icon-bar"></span>
					      <span class="icon-bar"></span>
					    </a>
			          	<a class="navbar-brand" href="#" id="brandSection"><h2 id="logoText" class="pull-left">Harvest</h2><img id="logo" class="pull-right" src="./IMAGES/Logo.png" alt="Harvest Logo"></a>
			        </div>
			        <div class="navbar-collapse collapse">
			          	<ul class="nav navbar-nav">
				            <li class="dropdown">
						        <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Your Farm
						        <span class="caret"></span></a>
						        <ul class="dropdown-menu">
						          <li><a href="#">View Farm Details</a></li>
							      <li class="divider"></li>
							      <li><a href="#">Orchard Blocks</a></li>
							      <li><a href="#">Crop Types</a></li>
						          <li><a href="#">Irrigation Types</a></li>
						          <li><a href="#">Cultivation Frequencies</a></li>
						          <li><a href="#">Yield Measurement Types</a></li>
						          <li><a href="#">View Heat Map</a></li>
						          <li class="divider"></li>
						        </ul>
						    </li>
				            <li class="dropdown">
						        <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Your Workers
						        <span class="caret"></span></a>
						        <ul class="dropdown-menu">
						          <li><a href="#">View Workers</a></li>
							      <li class="divider"></li>
							      <li><a href="#">View Worker-Foreman Assignments</a></li>
						          <li class="divider"></li>
						        </ul>
						    </li>
				            <li class="dropdown">
						        <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Your Foremen
						        <span class="caret"></span></a>
						        <ul class="dropdown-menu">
						          <li><a href="#">View Foremen</a></li>
							      <li class="divider"></li>
							      <li><a href="#">View Foreman-Orchard Block Allocations</a></li>
								  <li><a href="#">Manage Foremen Shifts</a></li>
						          <li class="divider"></li>
						        </ul>
						    </li>       
				            <li class="dropdown">
						        <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Reports
						        <span class="caret"></span></a>
						        <ul class="dropdown-menu">
						          <li><a href="#">Worker Performance</a></li>
							      <li><a href="#">Crop Yield per Orchard</a></li>
							      <li class="divider"></li>
								  <li><a href="#">Seasonal Yield Revenue</a></li>
								  <li><a href="#">Time Taken to Cultivate Specific Crops</a></li>
						          <li class="divider"></li>
						        </ul>
						    </li>            
			          	</ul>
			          	<ul class="nav navbar-nav navbar-right">
			          		<li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>

				            <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>

				            <li class="active"><a href="#"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>

				            <li><a href="#" id="btnLogOut"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
			          	</ul>
			        </div>
			    </div>			    
			    <div class="row jumbo">
					<div class="col-md-10 col-md-offset-1">
						<div class="jumbotron">

						<!--Page-Content
							<fieldset>
								<legend>Your Farm's Details</legend>
								<label for="fname">Farmer's Name</label><br>
								<label class="info">Tony Stark</label><br>

								<label for="lname">Crop Type</label><br>
								<label class="info">Macadamias</label><br>

								<label for="username">Listed Orchards</label><br>
								<ul class="info">
									<li>Block A<a class="pull-right info"><span class="glyphicon glyphicon-edit"></span> Edit</a><a class="pull-right info"><span class="glyphicon glyphicon-info-sign"></span> View</a></li>
									<li>Block B<a class="pull-right info"><span class="glyphicon glyphicon-edit"></span> Edit</a><a class="pull-right info"><span class="glyphicon glyphicon-info-sign"></span> View</a></li>
								</ul>
							</fieldset><br>

							<fieldset>
								<legend>Chosen Orchard's Details</legend>

								<label for="fname">Orchard Block</label><br>
								<label class="info">A</label><br>

								<label for="lname">Irrigation Type</label><br>
								<label class="info">Daily Sprinklers</label><br>

								<label for="username">Crop Dimension</label><br>
								<label class="info">400 x 600</label><br>

								<label for="d">Date Planted</label><br>
								<label class="info">09-06-2016</label><br>

								<label for="h">Average Yields per Hectare</label><br>
								<label class="info">40</label><br><br>

								<button class="btn">Button</button>
							</fieldset>
							-->

						<!--form name="frmEditProfile" ng-controller="editFarmer">
								<fieldset>
									<legend>Edit Your Details</legend>
									<label for="fname">First Name</label>
									<input type="text" name="fname" class="form-control" placeholder="Tony" ng-model="farmer.FirstName" required>
									<span class="errorText" ng-show="frmEditProfile.fname.$dirty && frmEditProfile.fname.$error.required">Required!</span><br>
									<label for="lname">Last Name</label>
									<input type="text" name="lname" class="form-control" placeholder="Stark" ng-model="farmer.LastName" required>
									<span class="errorText" ng-show="frmEditProfile.lname.$dirty && frmEditProfile.lname.$error.required">Required!</span><br>
									<label for="birthdate">Date of Birth</label>
									<input type="date" name="birthdate" class="form-control" ng-model="farmer.DOB" required>
									<span class="errorText" ng-show="frmEditProfile.birthdate.$dirty && frmEditProfile.birthdate.$error.required">Required!</span><br>
									<label for="emailProfile">Email Address</label>
									<input type="email" name="emailProfile" class="form-control" placeholder="tony.stark@gmail.com" ng-model="farmer.Email" required>
									<span class="errorText" ng-show="frmEditProfile.emailProfile.$dirty && frmEditProfile.emailProfile.$error.required">Required!</span>
					              	<span class="errorText" ng-show="frmEditProfile.emailProfile.$dirty && frmEditProfile.emailProfile.$error.email">Not an email!</span><br>
								</fieldset><br>
								<button type="submit" class="btn">Change Password</button><br><br><br>
								<button type="submit" class="btn" id="btnEditProf" ng-disabled="frmEditProfile.$invalid">Update Details</button>
							</form-->
						</div>
					</div>
				</div>
			</div><!-- /container -->
		</div><!-- /navbar wrapper -->	
		
		<!-- FOOTER -->
		<footer>
			<p class="pull-right"><a href="#">Back to top</a></p>
		</footer>
	</body>
</html>