<!DOCTYPE html>
<html ng-app="Harvest">
	<head>
		<title>Harvest Home Page</title>
		<meta charset="UTF-8">		
		<script type="text/javascript" src="./JS/maps.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="./bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="./CSS/style.css">	
		<script type="text/javascript" src="./JS/angular.min.js"></script>
		<script type="text/javascript" src="./bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="./JS/script.js"></script>
	</head>
	<body>
		<div class="navbar-wrapper">
	  		<div class="container">
			    <div class="navbar navbar-inverse navbar-fixed-top">
			        <div class="navbar-header">
					    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					      <span class="icon-bar"></span>
					      <span class="icon-bar"></span>
					      <span class="icon-bar"></span>
					    </a>
			          	<a class="navbar-brand" href="#" id="brandSection"><h2 id="logoText" class="pull-left">Harvest</h2><img id="logo" class="pull-right" src="./IMAGES/Logo.png" alt="Harvest Logo"></a>
			        </div>
			        <div class="navbar-collapse collapse">
			          	<ul class="nav navbar-nav">
				            <li class="dropdown">
						        <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Your Farm
						        <span class="caret"></span></a>
						        <ul class="dropdown-menu">
						          <li><a href="#">View Farm Details</a></li>
							      <li class="divider"></li>
							      <li><a href="#">Orchard Blocks</a></li>
							      <li><a href="#">Crop Types</a></li>
						          <li><a href="#">Irrigation Types</a></li>
						          <li><a href="#">Cultivation Frequencies</a></li>
						          <li><a href="#">Yield Measurement Types</a></li>
						          <li><a href="#">View Heat Map</a></li>
						          <li class="divider"></li>
						        </ul>
						    </li>
				            <li class="dropdown">
						        <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Your Workers
						        <span class="caret"></span></a>
						        <ul class="dropdown-menu">
						          <li><a href="#">View Workers</a></li>
							      <li class="divider"></li>
							      <li><a href="#">View Worker-Foreman Assignments</a></li>
						          <li class="divider"></li>
						        </ul>
						    </li>
				            <li class="dropdown">
						        <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Your Foremen
						        <span class="caret"></span></a>
						        <ul class="dropdown-menu">
						          <li><a href="#">View Foremen</a></li>
							      <li class="divider"></li>
							      <li><a href="#">View Foreman-Orchard Block Allocations</a></li>
								  <li><a href="#">Manage Foremen Shifts</a></li>
						          <li class="divider"></li>
						        </ul>
						    </li>       
				            <li class="dropdown">
						        <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Reports
						        <span class="caret"></span></a>
						        <ul class="dropdown-menu">
						          <li><a href="#">Worker Performance</a></li>
							      <li><a href="#">Crop Yield per Orchard</a></li>
							      <li class="divider"></li>
								  <li><a href="#">Seasonal Yield Revenue</a></li>
								  <li><a href="#">Time Taken to Cultivate Specific Crops</a></li>
						          <li class="divider"></li>
						        </ul>
						    </li>            
			          	</ul>
			          	<ul class="nav navbar-nav navbar-right">
			          		<li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
				            <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>
				            <li><a href="#" id="btnLogOut"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
			          	</ul>
			        </div>
			    </div>			    
			    <div class="row jumbo">
					<div class="col-md-10 col-md-offset-1">
						<div class="jumbotron">
							<fieldset>
								<legend>New Foreman Shift</legend>
									<form name="frmCreateForemanShift">
									<div ng-controller="selectForeman">
										<label for="selectForeman">Select Foreman</label>
										<select name="selectForeman" class="form-control" ng-model="selectForeman" ng-options="x for x in foremen"></select>
									</div>
									<br/>
										<div>
											<label for="shiftDate">Shift Start Time</label>
											<input class="form-control" type="date" name="shiftDate" ng-model="user.date" required>
											<span ng-show="frm.shiftDate.$dirty && frm.shiftDate.$error.required">Required!</span>
											<span ng-show="frm.shiftDate.$dirty && frm.shiftDate.$error.date">Not a valid date!</span>
										</div>
										<br/>
										<div>
											<label for="shiftStart">Shift Start Time</label>
											<input class="form-control" type="time" name="shiftStart" ng-model="user.timeStart" required>
											<span ng-show="frm.shiftStart.$dirty && frm.shiftStart.$error.required">Required!</span>
											<span ng-show="frm.shiftStart.$dirty && frm.shiftStart.$error.time">Not a valid time!</span>
										</div>
										<br/>
										<div>
											<label for="shiftEnd">Shift End Time</label>
											<input class="form-control" type="time" name="shiftEnd" ng-model="user.timeEnd" required>
											<span ng-show="frm.shiftEnd.$dirty && frm.shiftEnd.$error.required">Required!</span>
											<span ng-show="frm.shiftEnd.$dirty && frm.shiftEnd.$error.time">Not a valid time!</span>
										</div>
										<br/>
										<button class="btn" ng-disabled="frmCreateForemanShift.$invalid">Create Foreman Shift</button>
									</form>
							</fieldset>
						</div>
					</div>
				</div>
			</div><!-- /container -->
		</div><!-- /navbar wrapper -->	
		
		<!-- FOOTER -->
		<footer>
			<p class="pull-right"><a href="#">Back to top</a></p>
		</footer>
	</body>
</html>