<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Harvest</title>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="./JS/angular.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="./bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="./bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="./CSS/style.css">
    <script type="text/javascript" src="./JS/Farmer.js"></script>
	</head>
	<body>
		<div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
          
            <div class="navbar-header">
    	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	    </a>
            <a class="navbar-brand" href="#" id="brandSection"><h2 id="logoText" class="pull-left">Harvest</h2><img id="logo" class="pull-right" src="./IMAGES/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="http://www.bootply.com" target="ext">About</a></li>
                <li><a href="#contact">Contact</a></li>            
              </ul>
              <form class="navbar-form navbar-right" role="search" name="frm">
                
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email Address" ng-model="user.email" required>
                  <span class="errorText" ng-show="frm.email.$dirty && frm.email.$error.required">Required!</span>
                  <span class="errorText" ng-show="frm.email.$dirty && frm.email.$error.email">Not an email!</span>              
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" ng-minlength="5" ng-maxlength="10" placeholder="Password" ng-model="user.password" required>
                  <span class="errorText" ng-show="frm.password.$dirty && frm.password.$error.required">Required!</span>
                  <span class="errorText" ng-show="frm.password.$dirty && frm.password.$error.minlength">Too Short!</span>
                  <span class="errorText" ng-show="frm.password.$dirty && frm.password.$error.maxlength">Too Long!</span>
                </div>
                <button type="submit" class="btn" id="btnSignIn" ng-disabled="frm.$invalid">Sign In</button>
              </form>
            </div>

        </div>
        <div class="row jumbo">
          <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron">
              <form name="frmCreateProfile">
                <fieldset>
                  <legend>Enter Your Details</legend>
                  <label for="fname">First Name</label>
                  <input type="text" name="fname" class="form-control" placeholder="Tony" ng-model="user.fname" required>
                  <span class="errorText" ng-show="frmCreateProfile.fname.$dirty && frmCreateProfile.fname.$error.required">Required!</span><br>
                  <label for="lname">Last Name</label>
                  <input type="text" name="lname" class="form-control" placeholder="Stark" ng-model="user.lname" required>
                  <span class="errorText" ng-show="frmCreateProfile.lname.$dirty && frmCreateProfile.lname.$error.required">Required!</span><br>
                  <label for="birthdate">Date of Birth</label>
                  <input type="date" name="birthdate" class="form-control" ng-model="user.birthdate" required>
                  <span class="errorText" ng-show="frmCreateProfile.birthdate.$dirty && frmCreateProfile.birthdate.$error.required">Required!</span><br>
                  <label for="emailProfile">Email Address</label>
                  <input type="email" name="emailProfile" class="form-control" placeholder="tony.stark@gmail.com" ng-model="user.emailProfile" required>
                  <span class="errorText" ng-show="frmCreateProfile.emailProfile.$dirty && frmCreateProfile.emailProfile.$error.required">Required!</span>
                          <span class="errorText" ng-show="frmCreateProfile.emailProfile.$dirty && frmCreateProfile.emailProfile.$error.email">Not an email!</span><br>
                  <label for="newPass">Password</label>
                  <input type="password" name="pass" class="form-control" placeholder="*********" ng-minlength="5" ng-maxlength="10" ng-model="user.pass" required>
                  <span class="errorText" ng-show="frmCreateProfile.pass.$dirty && frmCreateProfile.pass.$error.required">Required!</span>
                          <span class="errorText" ng-show="frmCreateProfile.pass.$dirty && frmCreateProfile.pass.$error.minlength">Too Short!</span>
                          <span class="errorText" ng-show="frmCreateProfile.pass.$dirty && frmCreateProfile.pass.$error.maxlength">Too Long!</span><br>
                  <label for="conPass">Confirm Password</label>
                  <input type="password" name="conPass" class="form-control" placeholder="*********" ng-minlength="5" ng-maxlength="10" ng-model="user.conPass" required>
                  <span class="errorText" ng-show="frmCreateProfile.conPass.$dirty && frmCreateProfile.conPass.$error.required">Required!</span>
                          <span class="errorText" ng-show="frmCreateProfile.conPass.$dirty && frmCreateProfile.conPass.$error.minlength">Too Short!</span>
                          <span class="errorText" ng-show="frmCreateProfile.conPass.$dirty && frmCreateProfile.conPass.$error.maxlength">Too Long!</span><br>
                </fieldset><br>
                <button type="submit" class="btn" id="btnCreateProf" ng-disabled="frmCreateProfile.$invalid">Create Account</button>
              </form>
            </div>
          </div>
        </div>
      </div><!-- /container -->
    </div><!-- /navbar wrapper -->


	</body>
</html>