<div class="container" ng-app="">
  <div class="row jumbo">
    <div class="col-md-10 col-md-offset-1">
      <div class="jumbotron">
        <!-- SIGNUP FORM --> 
        <form action="/farm/update/<%= farm.id %>" method="post" name="frmUpdateFarm" id="frmUpdateFarm">
          <fieldset>
            <legend>Edit Farm</legend>

            <label for="fname">Farm Name</label>
            <input type="text" name="fname" class="form-control" value="<%= farm.name %>" ng-maxlength="50" >
            <span class="errorText" ng-show="frmUpdateFarm.faname.$error.maxlength">The first name cannot be more than 50 characters.</span><br>

            <label for="lname">Farm Size (In Hectares)</label>
            <input type="number" name="fsize" class="form-control" value="<%= farm.size %>" step="any">        
            <span class="errorText" ng-show="frmUpdateFarm.fsize.$error.number">This is not a number</span><br>

          <!-- Disable signup button until the form has no errors -->
          <button type="submit" class="btn" id="btnCreateFarm" ng-disabled="frmUpdateFarm.$invalid">
            <span ng-show="!createFarmFrm.loading">Update Farm</span>
            <span class="overlord-loading-spinner fa fa-spinner" ng-show="createProfileFrm.loading"></span>
            <span ng-show="createProfileFrm.loading">Updating Your Farm...</span>
          </button>

          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>
      </div>
    </div>
  </div>
</div>