<ion-view title="About" id="page8">
    <ion-content padding="true" class="has-header">
        <div id="about-markdown12" style="color:#000000;">
            <p>Harvest is system that uses two technologies to bring you one easy-to-use management system for your farm and workforce. Harvest is used on your computer and mobile device, be it a smartphone or a tablet. The system accepts data inputs from
                your foreman in the field during harvest time and converts this data into statistical reports and graphs for the farmer to easily analyse the status of their farm.</p>

            <p>SubTrop hosts this technology created by a group of final year undergraduate students in the IT department at the University of Pretoria. This group, HTTP_418, brings you a system filled with passion and a want to make life easier for the
                farming community.</p>
        </div>
    </ion-content>
</ion-view>