<ion-view title="Crop Yield" id="page3">
    <ion-content padding="true" class="has-header">
        <!--<div class="item item-body" id="cropYield-list-item-container9">-->
            <form id="cropYield-form8" class="list">
                <label class="item item-select" id="cropYield-select4">
                    <span class="input-label">Orchard Block</span>
                    <select>
                        <option>BA20</option>
                        <option>BA32</option>
                        <option>BA12</option>
                    </select>
                </label>
                <div class="spacer" style="width: 716px; height: 19px;"></div>
                <label class="item item-select" id="cropYield-select1">
                    <span class="input-label">Worker</span>
                    <select>
                        <option>Fielie</option>
                        <option></option>
                    </select>
                </label>
                <div class="spacer" style="width: 716px; height: 18px;"></div>
                <label class="item item-input" id="cropYield-input6">
                    <span class="input-label">Yields collected</span>
                    <input type="number" placeholder="">
                </label>
            </form>
        <!--</div>-->
    </ion-content>
</ion-view>