<!--<ion-view title="Login" id="page7">
    <ion-content padding="true" class="has-header">
        <form id="login-form4" class="list">
            <ion-list id="login-list6">
                <label class="item item-input" id="login-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input5">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button12" class="button button-stable  button-block">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button13" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>-->
<ion-modal-view id="login.html">
    <ion-content>
        <div class="list card" id="splashScreen-card25" >
            <ion-item class="item-icon-right" id="splashScreen-list-item13">Login
                <span class="item-note">Cancel</span>
                <i class="icon ion-android-close"></i>
            </ion-item>
            <div class="item item-body" id="splashScreen-list-item-container5">
                <form id="splashScreen-form3" class="list">
                    <label class="item item-input" id="splashScreen-input2">
                        <span class="input-label">Email Adress</span>
                        <input type="text" placeholder="">
                    </label>
                    <label class="item item-input" id="splashScreen-input3">
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="">
                    </label>
                    <button id="splashScreen-button8" style="font-size:12px;text-align:right;" class="button button-positive  button-block button-clear">Forgot Password</button>
                </form>
                <button id="splashScreen-button7" class="button button-calm  button-block">Log In</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>