<ion-view title="Worker Yield Performance" id="page2">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="workerYieldPerformance-list-item-container10">
            <div id="workerYieldPerformance-markdown9" style="margin-top:0px;color:#000000;">
                <p>Select Worker</p>
            </div>
            <form id="workerYieldPerformance-form10" class="list">
                <label class="item item-select" id="workerYieldPerformance-select3">
                    <span class="input-label">Select</span>
                    <select>
                        <option>Fielie</option>
                        <option>Madiba</option>
                        <option>Moses</option>
                        <option>Vissie</option>
                    </select>
                </label>
            </form>
        </div>
        <div class="spacer" style="width: 748px; height: 20px;"></div>
        <div class="item item-body" id="workerYieldPerformance-list-item-container11">
            <div id="workerYieldPerformance-markdown10" style="margin-top:0px;color:#000000;">
                <p>Table will go here</p>
            </div>
        </div>
        <div class="spacer" style="width: 748px; height: 18px;"></div>
        <div class="item item-body" id="workerYieldPerformance-list-item-container12">
            <div id="workerYieldPerformance-markdown11" style="margin-top:0px;color:#000000;">
                <p>Maybe a graph can come here?</p>
            </div>
            <div>
                <img src="img/s4vTQTSbR3imOH8SFfjw_2000px-Truncated_Bar_Graph.svg.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
    </ion-content>
</ion-view>