<head>
	<title>About Harvest</title>
</head>
<body>
<div class="navbar-wrapper">
  		<div class="container">
		    <div class="navbar navbar-static-top navbar-inverse">
          <div class="navbar-header">
          <!-- This creates the mechanism for collapse button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
              <!-- This controls the number of lines in the image when the nav collapse -->
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#" id="brandSection"><h2 id="logoText" class="pull-left">Harvest</h2><img id="logo" class="pull-right" src="/images/logo.png"></a>
          </div>

          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>       
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="login">Sign in <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-lr" role="menu"  id="frmLoginli">
                    <div class="col-lg-12 col-md-12 col-xs-6" id="frmLoginli">
                        <div class="text-center"><h3>Sign In</h3></div>
                        <form ng-submit="submitLoginForm()" name="frmLogin" id="frmLogin" role="form" autocomplete="off">
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input ng-model="loginForm.email" type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="tony.stark@gmail.com" value="" autocomplete="off" required>
                                <span class="errorText" ng-show="frmLogin.email.$dirty && frmLogin.email.$error.required">Required!</span>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input ng-model="loginForm.password" type="password" name="password" tabindex="2" class="form-control" placeholder="******" autocomplete="off" required>
                                <span class="errorText" ng-show="frmLogin.password.$dirty && frmLogin.password.$error.required">Required!</span>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                  <div class="col-xs-4 col-md-8 col-lg-10">
                                    <input type="checkbox" tabindex="3" name="remember" id="remember"> &nbsp; Remember Me
                                  </div> 
                                </div>
                                <br>
                                <div class="row">
                                  <div class="col-xs-5 pull-left">
                                    <button type="submit" class="btn" tabindex="4" id="btnSignIn" ng-disabled="frmLogin.$invalid">
                                      <span ng-show="!loginForm.loading">Sign in</span>
                                      <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                                      <span ng-show="loginForm.loading">Signing in...</span>
                                    </button>
                                  </div>
                                  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                              </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <a href="/recoverPassword" tabindex="5" class="forgot-password">Forgot Password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">
                        </form>
                    </div>
                </ul>
              </li>     
            </ul>
          </div>
        </div>
		</div><!-- /container -->
	</div><!-- /navbar wrapper -->
	<div class="container">
	    <div class="row jumbo">
	      <div class="col-md-10 col-md-offset-1">
	        <div class="jumbotron">
	        <h2 class="logoText">About Harvest</h2>
	        <hr>
	          <div class="row">
	            <div class="col-md-10 col-md-offset-1">
	              <span>
	                <img src="/images/subtrop.jpg" class="pull-left" style="height: 100px; margin-top: 3%;">
	                <img src="/images/logoWithText.png" class="pull-right" style="height: 150px;">
	              </span>
	            </div>
	          </div>
	          	<paragraph>
		          	Harvest is system that uses two technologies to bring you one easy-to-use management system for your farm and workforce. Harvest is used on your computer and mobile device, be it a smartphone or a tablet. The system accepts data inputs from your foreman in the field during harvest time and converts this data into statistical reports and graphs for the farmer to easily analyse the status of their farm.
		          </paragraph><br><br>
		          <paragraph>
		          	SubTrop hosts this technology created by a group of final year undergraduate students in the IT department at the University of Pretoria. This group, HTTP_418, brings you a system filled with passion and a want to make life easier for the farming community.
		          </paragraph><br><br>
		          <paragraph>
		          	For more information on SubTrop, please visit <a href="http://www.subtrop.co.za/subtrop-services/about-us/">their website</a>!
		          </paragraph>
			  </div>
	      </div>
	    </div>
    </div>
</body>