<div class="container">
	<div class="row jumbo">
		<div class="col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<fieldset>
						<legend>Irrigation Types</legend>
						<div ng-app="IrrigationTypeModule" ng-controller="IrrigationTypeController" id="tableContainer">
							<table class="table table-bordered">
								<th>#</th>
								<th>Irrigation type</th>							
								<th>Edit</th>
								<% if(type.length == 0) { %>
									<tr>
											<td colspan="3">There are no irrigation types linked to your farm yet <br />
											Create a new irrigation type or link an existing irrigation type to an orchard block
											</td>
										</tr>
								<% } else { %>
									<% _.each(type, function(irrigation, index) { %>
										<% if (typeof irrigation != "undefined" ) { %>
											<tr>
												<td><%= index + 1 %>.</td>
												<td><%= irrigation.name %></td>
												<td><a class="info" href="/editIrrigationType/<%= irrigation.id %>"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
											</tr>																			
										<% } %>
									<% }) %>
								<% } %>							
							</table>
						</div>
						<br/>
						<a href="/createIrrigationType" class="btn">Add Irrigation Type</a>											
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>