<div class="container" ng-app="MainModule" ng-controller="MainController">
    <div class="row jumbo">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron">                
                    <form action="/yieldMeasurementType/create" method="post" name="frmCreateYieldType" id="frmCreateYieldType">                        
                        <fieldset>  
                            <legend>New Yield Measurement Type</legend>                                                    

                            <!-- Only show this input when a new yield type needs to be added -->
                            <div>
                                <label for="newYieldType">New Yield Measurement Type</label>
                                <input class="form-control" type="text" name="newYieldType" id="newYieldType" ng-model="createYieldTypeFrm.newYieldType" placeholder="Basket" required>
                                <span class="errorText" ng-show="frmCreateYieldType.newYieldType.$dirty && frmCreateYieldType.newYieldType.$error.required">Required!</span>                                                         
                                <br/>
                            </div>                           											

                            <!-- Disable signup button until the form has no errors -->
                            <button type="submit" class="btn" ng-click="click()" ng-disabled="frmCreateYieldType.$invalid">
                                <span ng-show="!createFrm.loading">Add Yield Measurement Type</span>
                                <span class="overlord-loading-spinner fa fa-spinner" ng-show="createYieldTypeFrm.loading"></span>
                                <span ng-show="createFrm.loading">Adding Your Yield Measurement Type...</span>
                            </button>

                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
						</fieldset>
					</form>
				</div>																		
			</div>
		</div>
	</div>
</div>