<div class="container">
	<div class="row jumbo">
		<div class="col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<fieldset>
						<legend>Yield Measuement Types</legend>
						<div id="tableContainer">
							<table class="table table-bordered">
								<th>#</th>
								<th>Yield Measurement Type</th>							
								<th>Edit</th>
								<!-- fetch yieldtypes from sent orchid blocks -->
								<% if(type.length == 0) { %>
									<tr>
										<td colspan="3">There are no yield measurement types linked to your farm yet <br />
										Create a new yield measurement type or <a href="/createOrchardBlock">link an existing yield measurement type to an orchard block</a>
										</td>
									</tr>
								<% } else { %>
									<% _.each(type, function(yield, index) { %>
										<% if (typeof yield != "undefined" ) { %>
											<tr>
												<td><%= index + 1 %>.</td>
												<td><%= yield.name %></td>
												<td><a class="info" href="/yieldmeasurementtype/edit/<%= yield.id %>"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
											</tr>
										<% } %>
									<% }) %>
								<% } %>								
							</table>
						</div>
						<br/>
						<a href="/yieldmeasurementtype/new" class="btn">Add Yield Measurement Type</a>											
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>