<div class="container">
	<div class="row jumbo">
		<div class="col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<div class="container">
					<fieldset>
						<legend>Yield Measuement Types</legend>
						<div ng-app="YieldTypeModule" ng-controller="YieldType" id="tableContainer">
							<table class="table table-bordered">
								<th>#</th>
								<th>Crop type</th>							
								<th>Edit</th>
								<!-- fetch yieldtypes from sent orchid blocks -->
								<% _.each(type, function(yield, index) { %>
									<% if (typeof yield.yieldMeasurement != "undefined" ) { %>
										<tr>
											<td><%= index + 1 %>.</td>
											<td><%= yield.yieldMeasurement.name %></td>
											<td><a class="info" href="/yieldmeasurementtype/edit/<%= yield.yieldMeasurement.id %>"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
										</tr>
									<% } %>
                                <% }) %>								
							</table>
						</div>
						<br/>
						<a href="/yieldmeasurementtype/new" class="btn">Add Yield Measurement Type</a>											
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>